*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 500vh;
}
.container{
    width: 1440px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}

.shapes{
    background-color: #F2EFE6;
    width: 100%;
    height: 775px;
}
.shapes__title{
    position: relative;
    top: 50px;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: #163A24;
    margin-bottom: 80px;
}
.shapes__text{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #163A24;
    margin-bottom: 60px;
}
.shapes__img{
    width: 1180px;
    height: 335px;
    margin-left: 130px;
}


.together{
    margin-top: 150px;
}
.together__general{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.together__title{
    font-size: 48px;
    font-weight: 600;
    color: #163A24;
    margin-bottom: 20px;
}
.together__text{
    font-size: 18px;
    font-weight: 400;
    color: #163A24;
}


.hours{
    margin-top: 150px;
    background-color: #F2EFE6;
    width: 100%;
    height: 602px;
}
.hours__title{
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 47px;
    font-weight: 600;
    color: #163A24;
}
.hours__text{
    margin-top: 120px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #163A24;
    margin-bottom: 50px;
}
.hours__img{
    width: 1180px;
    height: 187px;
    margin-left: 130px;
}
.hours__btn{
    width: 244px;
    height: 52px;
    background-color: #198C36;
    border: none;
    border-radius: 160px;
    font-size: 16px;
    color: white;
    margin-left: 598px;
}


.another{
    margin-top: 140px;
}
.another__general{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.another__title{
    font-size: 48px;
    font-weight: 600;
    color: #163A24;
    margin-bottom: 20px;
}
.another__text{
    font-size: 18px;
    font-weight: 400;
    color: #163A24;
    margin-bottom: 30px;
}
.another__btn{
    width: 191px;
    height: 52px;
    background-color: #198C36;
    border: none;
    border-radius: 160px;
    font-size: 16px;
    color: white;
}
.another__img{
    width: 492px;
    height: 510px;
}

.clerksy{
    margin-top: 120px;
    background-color: #163A24;
    width: 100%;
    height: 415px;
}
.clerksy__general{
    position: relative;
    top: -278px;
    display: flex;
    justify-content: space-between; 
}
.clerksy__title{
    text-align: center;
    position: relative;
    top: 120px;
    font-size: 48px;
    font-weight: 600;
    color: white;
}
.clerksy__text{
    text-align: center;
    margin-top: 140px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}
.clerksy__btn{
    width: 258px;
    height: 52px;
    border: none;
    background-color: #FAB5A0;
    border-radius: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #163A24;
    margin-top: 30px;
    margin-left: 591px;
}



.stay{
    position: absolute;
    background-color: #F2EFE6;
    width: 100%;
    height: 240px;  
}
.stay__general{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 200px;
    margin-top: 60px;
}
.stay__title{
    font-size: 48px;
    font-weight: 600;
    color: #163A24;
    margin-bottom: 30px;
}
.stay__boxText{
    display: flex;
    align-items: end;
}
.stay__headline{
    font-size: 18px;
    font-weight: 400;
    color: #163A24;
}
input{
    width: 553px;
    height: 54px;
    border-radius: 160px;
    border: none;
    padding: 0px 30px;
}
.stay__btn{
    width: 111px;
    height: 54px;
    background-color: #198C36;
    border: none;
    border-radius: 160px;
    margin-left: -80px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.stay__text{
    font-size: 14px;
    font-weight: 400;
    color: #163A24;
    margin-top: 20px;
}
a{
    margin-left: -215px;
    font-size: 14px;
    font-weight: 400;
    color: #198C36;
}

.footer__box{
    display: flex;
    justify-content: space-between;
}